{{frontendheader}}
 <!-- slider area-->

        

 <div class="slider-area">
  <div class="bend niceties preview-2">
    <div id="ensign-nivoslider" class="slides" > 
      <img style="opacity: .50" src="visitor/img/1.jpg" alt="" title="#slider-direction-1"  />
      <img style="opacity: .50" src="visitor/img/2.jpg" alt="" title="#slider-direction-2"  />
    </div>
    <!-- direction 2 -->
    <div id="slider-direction-1" class="slider-direction">
      <div class="slider-content t-cn s-tb slider-2">
        <div class="title-container s-tb-c">
          <h1 class="title1">Enhance <span>medical care</span> and help us live longer</h1>
          <div class="title2">Hospital | Doctor | Ambulance</div>
          <div class="slider-botton" >
            <ul>
              <li class="acitve"><a href="#">View More </a></li>
            </ul>
          </div>
        </div>
      </div>  
    </div>
    <!-- direction 2 -->
    <div id="slider-direction-2" class="slider-direction">
      <div class="slider-content t-cn s-tb slider-2">
        <div class="title-container s-tb-c">
          <h1 class="title1">Use Doctorbari to find <span>Best</span> Hospitals</h1>
           <div class="title2">Hospital | Doctor | Ambulance</div>
          <div class="slider-botton" >
            <ul>
              <li class="acitve"><a href="#">Read More</a></li>

            </ul>
          </div>
        </div>
      </div>  
    </div>

  </div>
</div>
<!-- slider end-->


    <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="doctor-slide-area">
           <h3>You also can choose Doctors form below</h3>
           <!-- Hospital-list start-->
            <div class="hospital-area-list pt-40 pb-80">
             <div class="container">
               <div class="row">
                <div class="hospital-slider">
                                    <a href="find-hospital/5">
                    <div class="single-hospital text-center">
                         <div class="h-hospital-content-top">
                          <img src="image/-2019-04-195cb9cf9fb64dc.jpg" alt="">
                        </div>
                        <div class="h-hospital-content-bottom">

                          <h2>ঢাকা মেডিকেল কলেজ</h2>
                          <p>new market, Dhaka</p>
                          <h3>Phone: 1521450823</h3> 
                          <h3>Email: dmc@gmail.com</h3> 
                        </div>
                    </div>
                  </a>
                                  <a href="find-hospital/4">
                    <div class="single-hospital text-center">
                         <div class="h-hospital-content-top">
                          <img src="image/comilla-2019-04-195cb9d111f1f95.jpg" alt="">
                        </div>
                        <div class="h-hospital-content-bottom">

                          <h2>Comilla Medical College &amp; Hospital</h2>
                          <p>Sector # 10 , Uttara
Bangladesh</p>
                          <h3>Phone: 1521450823</h3> 
                          <h3>Email: comillamedical@gmail.com</h3> 
                        </div>
                    </div>
                  </a>
                                  <a href="find-hospital/3">
                    <div class="single-hospital text-center">
                         <div class="h-hospital-content-top">
                          <img src="image/tipu-2019-04-195cb945f495888.jpg" alt="">
                        </div>
                        <div class="h-hospital-content-bottom">

                          <h2>Mukti Hospital</h2>
                          <p>Mukti Hospital, Sashongacha, Comilla.</p>
                          <h3>Phone: 1521450823</h3> 
                          <h3>Email: mukti_hospital@gmail.com</h3> 
                        </div>
                    </div>
                  </a>
                                  <a href="find-hospital/1">
                    <div class="single-hospital text-center">
                         <div class="h-hospital-content-top">
                          <img src="image/united-2019-03-265c9a3db7028bd.jpg" alt="">
                        </div>
                        <div class="h-hospital-content-bottom">

                          <h2>United Hospital</h2>
                          <p>Plot 15 Rd No 71, Dhaka 1212 ,Bangladesh</p>
                          <h3>Phone: 1521450823</h3> 
                          <h3>Email: tipu4142@gmail.com</h3> 
                        </div>
                    </div>
                  </a>
                               </div>
              </div>
            </div>
            </div>
         </div>
       </div>
     </div>
   </div>

<hr>


    <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="doctor-slide-area">
           <h3>You also can choose Doctors form below</h3>
           <!-- Hospital-list start-->
            <div class="hospital-area-list pt-40 pb-80">
             <div class="container">
               <div class="row">
                <div class="hospital-slider">
                                    <a href="find-doc/4">
                    <div class="single-hospital text-center">
                     <div class="h-hospital-content-top">
                      <img src="image/doctor.png" alt="">
                      </div>
                      <div class="h-hospital-content-bottom">

                        <h2>Tipu Sultan</h2>
                        <h4>MBBS | Dentist</h4>
                      <h3>Chambers: Dhaka Dental College, Mirpur 14</h3><!-- 
                      <h4><span>MBBS</span></h4> -->
                    </div>
                  </div>
                </a>
                                  <a href="find-doc/2">
                    <div class="single-hospital text-center">
                     <div class="h-hospital-content-top">
                      <img src="image/doctor.png" alt="">
                      </div>
                      <div class="h-hospital-content-bottom">

                        <h2>Dr. Azizul Haque</h2>
                        <h4>MBBS | Cardiology</h4>
                      <h3>Chambers: Square hospital, Kolabagan</h3><!-- 
                      <h4><span>MBBS</span></h4> -->
                    </div>
                  </div>
                </a>
                                  <a href="find-doc/1">
                    <div class="single-hospital text-center">
                     <div class="h-hospital-content-top">
                      <img src="image/doctor.png" alt="">
                      </div>
                      <div class="h-hospital-content-bottom">

                        <h2>Dr. Shohan Ahmed</h2>
                        <h4>MBBS | nuerologist</h4>
                      <h3>Chambers: Lab aid</h3><!-- 
                      <h4><span>MBBS</span></h4> -->
                    </div>
                  </div>
                </a>
                               </div>
              </div>
            </div>
            </div>
            <!-- Hospital-list end-->
         </div>
       </div>
     </div>
   </div>

<hr>


    <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="doctor-slide-area">
           <h3>You also can choose ambulence form below</h3>
           <!-- Hospital-list start-->
            <div class="hospital-area-list pt-40 pb-80">
             <div class="container">
               <div class="row">
                <div class="hospital-slider">
                                      <div class="single-hospital text-center">
                   <div class="h-hospital-content-top">
                    <img src="image/dmc-203-2019-04-225cbde80baf571.png" alt="">
                   </div>
                   <div class="h-hospital-content-bottom">
                    
                    <h2>DMC - 203</h2>
                    <h3>asd sdfsdfsdf</h3>
                    <h3>Phone: 1521450823</h3>
                    <h4><span>Ac Ambulance</span></h4>
                   </div>
                 </div>
                                    <div class="single-hospital text-center">
                   <div class="h-hospital-content-top">
                    <img src="image/un-am-201-2019-04-225cbd3ed086b5f" alt="">
                   </div>
                   <div class="h-hospital-content-bottom">
                    
                    <h2>UN-Am-201</h2>
                    <h3>asdf sdfsdf</h3>
                    <h3>Phone: 1521450823</h3>
                    <h4><span>Frezzing Ambulance</span></h4>
                   </div>
                 </div>
                                    <div class="single-hospital text-center">
                   <div class="h-hospital-content-top">
                    <img src="image/ananda-101-2019-04-195cba5d58bb81d.png" alt="">
                   </div>
                   <div class="h-hospital-content-bottom">
                    
                    <h2>Ananda 101</h2>
                    <h3>asdfsd</h3>
                    <h3>Phone: 1521450823</h3>
                    <h4><span>Icu Ambulance</span></h4>
                   </div>
                 </div>
                                    <div class="single-hospital text-center">
                   <div class="h-hospital-content-top">
                    <img src="image/dmc-100-2019-04-195cba1a1523d3c.png" alt="">
                   </div>
                   <div class="h-hospital-content-bottom">
                    
                    <h2>DMC-100</h2>
                    <h3></h3>
                    <h3>Phone: 1521450823</h3>
                    <h4><span>Icu Ambulance</span></h4>
                   </div>
                 </div>
                                    <div class="single-hospital text-center">
                   <div class="h-hospital-content-top">
                    <img src="image/un-amb-101-2019-04-195cb9f5e537407.png" alt="">
                   </div>
                   <div class="h-hospital-content-bottom">
                    
                    <h2>UN-AMB-101</h2>
                    <h3>sdf</h3>
                    <h3>Phone: 1521450823</h3>
                    <h4><span>Icu Ambulance</span></h4>
                   </div>
                 </div>
                               </div>
              </div>
            </div>
            </div>
            <!-- Hospital-list end-->
         </div>
       </div>
     </div>
   </div>


<!-- category -->
<!-- <div class="category-area pt-80 pb-80"> 
 <div class="container">
   <div class="row"> 
    <div class="col-md-4">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fa fa-hospital-o"></i><span>cardiology</span></a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="fa fa-hospital-o"></i><span>neorology</span></a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"><i class="fa fa-hospital-o"></i><span>dental</span></a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false"><i class="fa fa-hospital-o"></i><span>Diagonstics</span></a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false"><i class="fa fa-hospital-o"></i><span>eye care</span></a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false"><i class="fa fa-hospital-o"></i><span>emmergency</span></a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false"><i class="fa fa-hospital-o"></i><span>emmergency</span></a>
      </div>
    </div> 
    <div class="col-md-8">
     <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <div class="img-area">
          <img src="assets/img/tab-img/tab-img1.jpg" alt="img">
          <h2>About the cardiology</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A magnam expedita similique atque praesentium iure ut earum corrupti error optio.</p>
          <div class="content-bottom">
            <div class="content-bottom-left">
              <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Lorem ipsum dolor sit amet.</li>
              <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Lorem ipsum dolor sit amet.</li>
              <a id="btn-contact" href="#" >Contact us</a>
            </div>
            <div class="content-bottom-right">
             <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Lorem ipsum dolor sit amet.</li>
             <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Lorem ipsum dolor sit amet.</li>
           </div>
         </div>  
       </div>
     </div>
     <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"><h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, odit!</h1></div>
     <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
     <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
   </div>
 </div>

</div>
</div>
</div> -->
<!-- our services area -->
<!-- <div class="our-services-area pt-80 pb-80 ">

  <div class="container">
   <div class="row">
     <div class="col-md-12">
      <div class="section-title text-center pb-60">
        <h2>APPOINMENT</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        <div class="divider">
          <span><i class="fa fa-hospital-o"></i></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="single-service-item text-center mb-20">
        <i class="fa fa-hospital-o"></i>
        <h2>Heart Surgery</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio doloribus nemo  </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="single-service-item text-center mb-20">
        <i class="fa fa-hospital-o"></i>
        <h2>Heart Surgery</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio doloribus nemo  </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="single-service-item text-center mb-20">
        <i class="fa fa-hospital-o"></i>
        <h2>Heart Surgery</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio doloribus nemo  </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="single-service-item text-center mb-20">
        <i class="fa fa-hospital-o"></i>
        <h2>Heart Surgery</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio doloribus nemo  </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="single-service-item text-center mb-20">
        <i class="fa fa-hospital-o"></i>
        <h2>Heart Surgery</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio doloribus nemo  </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="single-service-item text-center mb-20">
        <i class="fa fa-hospital-o"></i>
        <h2>Heart Surgery</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio doloribus nemo  </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="single-service-item text-center mb-20">
        <i class="fa fa-hospital-o"></i>
        <h2>Heart Surgery</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio doloribus nemo  </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="single-service-item text-center mb-20">
        <i class="fa fa-hospital-o"></i>
        <h2>Heart Surgery</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio doloribus nemo  </p>
      </div>
    </div>
  </div>
</div>
</div>
 -->
<!-- Appoinment starts -->
<!-- <div class="appointment-area pt-60 pb-60 " class="parallax" data-velocity=".8">
 <div class="container">
   <div class="row">
     <div class="col-md-6 form-box">
       <div class="row">
         <div class="col-md-12">
          <div class="section-title text-center pb-60">
            <h2>APPOINMENT</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            <div class="divider">
              <span><i class="fa fa-hospital-o"></i></span>

            </div>
          </div>     
        </div>
        <div class="form-area-appointment">
         <form action="">
           <div class="row">
             <div class="col-md-6">
              <div class="form-group">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <input class="form-control" placeholder="Your Name:" id="name" name="name" type="text" data-fv-notempty="true" data-fv-notempty-message="The name is required" />
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <input class="form-control" placeholder="Your Mail" id="email" name="email" type="email" data-fv-notempty="true" data-fv-notempty-message="The email address is required" data-fv-emailaddress="true" data-fv-emailaddress-message="The input is not a valid email address" />
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <input class="form-control" placeholder="Your Mail" id="email" name="email" type="email" data-fv-notempty="true" data-fv-notempty-message="The email address is required" data-fv-emailaddress="true" data-fv-emailaddress-message="The input is not a valid email address" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
             <div class="form-group">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <input class="form-control" placeholder="Your Name:" id="name" name="name" type="text" data-fv-notempty="true" data-fv-notempty-message="The name is required" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 validate-right-icon">
                <input type="text" name="dateTo" class="form-control datepicker" placeholder="MM/DD/YYYY:" id="dateTo" readonly="readonly" value="" data-fv-notempty="true" data-fv-date="true" data-fv-date-format="MM/DD/YYYY" data-fv-date-message="The value is not a valid date" />

              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 validate-right-icon">
                <select class="form-control" name="doctors" id="doctors" data-fv-notempty="true" data-fv-notempty-message="This Field is required">
                  <option>Doctors</option>
                  <option>Doctors 2</option>
                  <option>Doctors 3</option>
                  <option>Doctors 4</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-12">
           <input type="Submit" value="Book an appoinment">
         </div>
       </div>

     </form>
   </div> 
 </div>
</div>
</div>
</div>
</div> -->
<!-- Hospital-list start-->
<!-- <div class="hospital-area-list pt-80 pb-80">
 <div class="container">
   <div class="row">
    <div class="col-md-12">
      <div class="section-title text-center pb-60">
        <h2>HOSPITAL</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        <div class="divider">
          <span><i class="fa fa-hospital-o"></i></span>
        </div>
      </div>     
    </div>
  </div>
   <div class="row">
    <div class="hospital-slider">
     <div class="single-hospital text-center">
       <div class="h-hospital-content-top">
         <img src=" http://doctorbari.foysal.xyz/visitor/img/hospital/hospital1.jpg"  alt="">
       </div>
       <div class="h-hospital-content-bottom">
         <h2>Square Hospital</h2>
         <p>West Panthopath, Dhaka</p>
         <p><i class="fa fa-mobile"></i><span>Contact:</span>+8801939886956</p>
         <p><i class="fa fa-envelope"></i><span>Mail:</span>squarehospital@gmail.com</p>
       </div>
     </div>
     <div class="single-hospital text-center">
       <div class="h-hospital-content-top">
         <img src=" http://doctorbari.foysal.xyz/visitor/img/hospital/hospital1.jpg"alt="">
       </div>
       <div class="h-hospital-content-bottom">
         <h2>Square Hospital</h2>
         <p>West Panthopath, Dhaka</p>
         <p><i class="fa fa-mobile"></i><span>Contact:</span>+8801939886956</p>
         <p><i class="fa fa-envelope"></i><span>Mail:</span>squarehospital@gmail.com</p>
       </div>
     </div>
     <div class="single-hospital text-center">
       <div class="h-hospital-content-top">
         <img src=" http://doctorbari.foysal.xyz/visitor/img/hospital/hospital1.jpg"  alt="">
       </div>
       <div class="h-hospital-content-bottom">
         <h2>Square Hospital</h2>
         <p>West Panthopath, Dhaka</p>
         <p><i class="fa fa-mobile"></i><span>Contact:</span>+8801939886956</p>
         <p><i class="fa fa-envelope"></i><span>Mail:</span>squarehospital@gmail.com</p>
       </div>
     </div>
     <div class="single-hospital text-center">
       <div class="h-hospital-content-top">
         <img src=" http://doctorbari.foysal.xyz/visitor/img/hospital/hospital1.jpg" alt="">
       </div>
       <div class="h-hospital-content-bottom">
         <h2>Square Hospital</h2>
         <p>West Panthopath, Dhaka</p>
         <p><i class="fa fa-mobile"></i><span>Contact:</span>+8801939886956</p>
         <p><i class="fa fa-envelope"></i><span>Mail:</span>squarehospital@gmail.com</p>
       </div>
     </div>
   </div>
  </div>
</div>
</div> -->
<!-- Hospital-list end-->

<!-- counter-area-start -->
<!-- <div class="counter-area pb-80 pt-80">
  <div class="container">
       <div class="row">
      <div class="col-md-12">
      <div class="section-title text-center pb-60">
        <h2>PARTNERS</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        <div class="divider">
          <span><i class="fa fa-hospital-o"></i></span>
        </div>
      </div>     
    </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="single-counter text-center">
          <h2 class="counter">2212</h2>
          <span><i class="fa fa-hospital-o"></i></span>
          <h3>Total Partners</h3>
        </div>
      </div>
        <div class="col-md-3">
        <div class="single-counter text-center">
          <h2 class="counter">2212</h2>
          <span><i class="fa fa-hospital-o"></i></span>
          <h3>Total Partners</h3>
        </div>
      </div>
        <div class="col-md-3">
        <div class="single-counter text-center">
          <h2 class="counter">2212</h2>
          <span><i class="fa fa-hospital-o"></i></span>
          <h3>Total Partners</h3>
        </div>
      </div>
        <div class="col-md-3">
        <div class="single-counter text-center">
          <h2 class="counter">2212</h2>
          <span><i class="fa fa-hospital-o"></i></span>
          <h3>Total Partners</h3>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- counter-area-end -->
<!-- footer-area -->

      <div class="footer-area">
  <div class="container">
   <div class="row">
     <div class="col-md-4">
       <div class="footer-left">
         <h2>Let’s join & create something together</h2>
         <p>Must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and will give you completed.</p>
         <label for=""><input type="text" placeholder="Enter Your Email Address"></label>
         <a href="#">Subscribe us</a>
       </div>
     </div>
          <div class="col-md-4">
       <div class="footer-midle d-flex">
         <h2>Usefull Links</h2>
        <div class="footer-midle-left">
           <li><a href="#">Ambulance</a></li>
           <li><a href="#">Doctor</a></li>
           <li><a href="#">Hospital</a></li>
           <li><a href="#">Donor</a></li>

        </div>
        <div class="footer-midle-left">
              <li><a href="#">Video</a></li>
             <li><a href="#">Education</a></li>
             <li><a href="#">About</a></li>
             <li><a href="#">contact us</a></li>


        </div>

       </div>
     </div>
          <div class="col-md-4">
       <div class="footer-right">
         <h2>For business dealing</h2>
         <h2>888-000-1234</h2>
         <h3>Available 9:00 - 7:00 all days</h3>
         <h3>Big Smart Stareet, 2nd Cross
            Newyork, USA 1002.</h3>
          <hr>
           <h2>For business dealing</h2>
         <h2>888-000-1234</h2>

       </div>
     </div>
   </div>

  </div>
</div>
<!--==================================================================-->
<script type="text/javascript" src="visitor/js/jquery-3.2.0.min.js"></script>
<script>window.jQuery || document.write('<script src=" http://doctorbari.foysal.xyz/visitor/js/vendor/jquery-1.12.0.min.js "><\/script>')</script>
<!--=== All Plugin ===-->
<script type="text/javascript" src="visitor/js/bootstrap.min.js"></script>
<script type="text/javascript" src="visitor/js/plugin/wow.min.js"></script>
<!-- <script type="text/javascript" src=" http://doctorbari.foysal.xyz/visitor/js/plugin/jquery.sticky.js "></script> -->
<script type="text/javascript" src="visitor/js/plugin/jquery.scrolly.js"></script>
<script type="text/javascript" src="visitor/js/plugin/nivo-slider.js"></script>
<script type="text/javascript" src="visitor/js/plugin/jquery.meanmenu.min.js"></script>
<!-- counter-area  start-->
<script type="text/javascript" src="visitor/js/plugin/jquery.counterup.min.js"></script>
<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js')}} "></script> -->
<!-- counter-area end -->
<!-- nivo-slider -->
<script type="text/javascript" src="visitor/js/plugin/home.js"></script>
<!-- <script type="text/javascript" src="assets/js/carousel/owl.carousel.min.js"></script> -->
<script type="text/javascript" src="visitor/js/plugin/owl.carousel.min.js"></script>
<script type="text/javascript" src="visitor/js/plugin/jquery.magnific-popup.min.js"></script>

<script src="admin/lib/select2/dist/js/select2.full.min.js"></script>

<!--=== All Active ===-->
<script type="text/javascript" src="visitor/js/main.js"></script>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
 //  $(document).ready(function(){
 //   $('#menu').slicknav();
 //   $(".header_area").sticky({topSpacing:0});

 // });
</script>

<script>
var x = document.getElementById("demo");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

</script>

</body>

<!-- Mirrored from doctorbari.foysal.xyz/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2023 06:16:28 GMT -->
</html>
