{{frontendheader}}
 <!-- slider area-->

  <div class="container">
    <div class="b_search text-center">
    <div class="row mt-2" style="margin-top: 30px;">
        <div class="col-md-8 col-md-offset-2 mt-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="text-center">
                      Donor Login


                    </h2>
                    Email: donor@gmail.com <br>
                    Password: donor@gmail.com
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" method="POST" action="http://doctorbari.foysal.xyz/donor/login">
                        <input type="hidden" name="_token" value="e8NdWSkpmj25fAzspvTVwPO6cVDx5d8rGNpgPm3m">

                        <div class="form-group">
                            <label for="email" class="col-md-4 control-label">E-Mail Address</label>

                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control" value="donor@gmail.com" name="email"  autofocus>

                                                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-md-4 control-label">Password</label>

                            <div class="col-md-6">
                                <input id="password" type="password" value="donor@gmail.com" class="form-control" name="password">

                                                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="remember"> Remember Me
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    Login
                                </button>
                                <a class="btn btn-link" href="register.html">
                                    Create A new Account
                                </a>
                              <!--   <a class="btn btn-link" href="http://doctorbari.foysal.xyz/donor/password/reset">
                                    Forgot Your Password?
                                </a> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
 </div>
</div>

      <div class="footer-area">
  <div class="container">
   <div class="row">
     <div class="col-md-4">
       <div class="footer-left">
         <h2>Let’s join & create something together</h2>
         <p>Must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and will give you completed.</p>
         <label for=""><input type="text" placeholder="Enter Your Email Address"></label>
         <a href="#">Subscribe us</a>
       </div>
     </div>
          <div class="col-md-4">
       <div class="footer-midle d-flex">
         <h2>Usefull Links</h2>
        <div class="footer-midle-left">
           <li><a href="#">Ambulance</a></li>
           <li><a href="#">Doctor</a></li>
           <li><a href="#">Hospital</a></li>
           <li><a href="#">Donor</a></li>

        </div>
        <div class="footer-midle-left">
              <li><a href="#">Video</a></li>
             <li><a href="#">Education</a></li>
             <li><a href="#">About</a></li>
             <li><a href="#">contact us</a></li>


        </div>

       </div>
     </div>
          <div class="col-md-4">
       <div class="footer-right">
         <h2>For business dealing</h2>
         <h2>888-000-1234</h2>
         <h3>Available 9:00 - 7:00 all days</h3>
         <h3>Big Smart Stareet, 2nd Cross
            Newyork, USA 1002.</h3>
          <hr>
           <h2>For business dealing</h2>
         <h2>888-000-1234</h2>

       </div>
     </div>
   </div>

  </div>
</div>
<!--==================================================================-->
<script type="text/javascript" src="../visitor/js/jquery-3.2.0.min.js"></script>
<script>window.jQuery || document.write('<script src=" http://doctorbari.foysal.xyz/visitor/js/vendor/jquery-1.12.0.min.js "><\/script>')</script>
<!--=== All Plugin ===-->
<script type="text/javascript" src="../visitor/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../visitor/js/plugin/wow.min.js"></script>
<!-- <script type="text/javascript" src=" http://doctorbari.foysal.xyz/visitor/js/plugin/jquery.sticky.js "></script> -->
<script type="text/javascript" src="../visitor/js/plugin/jquery.scrolly.js"></script>
<script type="text/javascript" src="../visitor/js/plugin/nivo-slider.js"></script>
<script type="text/javascript" src="../visitor/js/plugin/jquery.meanmenu.min.js"></script>
<!-- counter-area  start-->
<script type="text/javascript" src="../visitor/js/plugin/jquery.counterup.min.js"></script>
<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js')}} "></script> -->
<!-- counter-area end -->
<!-- nivo-slider -->
<script type="text/javascript" src="../visitor/js/plugin/home.js"></script>
<!-- <script type="text/javascript" src="assets/js/carousel/owl.carousel.min.js"></script> -->
<script type="text/javascript" src="../visitor/js/plugin/owl.carousel.min.js"></script>
<script type="text/javascript" src="../visitor/js/plugin/jquery.magnific-popup.min.js"></script>

<script src="../admin/lib/select2/dist/js/select2.full.min.js"></script>

<!--=== All Active ===-->
<script type="text/javascript" src="../visitor/js/main.js"></script>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
 //  $(document).ready(function(){
 //   $('#menu').slicknav();
 //   $(".header_area").sticky({topSpacing:0});

 // });
</script>

<script>
var x = document.getElementById("demo");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

</script>

</body>

<!-- Mirrored from doctorbari.foysal.xyz/donor/login by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2023 06:17:05 GMT -->
</html>
