{{>header}}
     <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse " style="">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="#"><img src="/admin/lib/image/user.png" class="img-circle" width="80"></a></p>
          <h5 class="centered"> Foysal</h5>
          <p class="text-center">ADMIN</p>
          <li>
            <a class=" " href="/dashboard">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
          </li>

                    <li class="sub-menu">

            <a href="javascript:;" class=" ">
              <i class="fa fa-ambulance"></i>
              <span>Mnage User/Role</span>
              </a>
            <ul class="sub">
              <li><a href="/dashboard/user">Manage Users</a></li>
              <li><a href="/dashboard/role">Roles</a></li>

            </ul>
          </li>
          
                    <li class="sub-menu">
            <a class="active " href="/dashboard/ambulance">
              <i class="glyphicon glyphicon-adjust"></i>
              <span>Ambulance List</span>
              </a>
          </li>
          
         
                  <li class="sub-menu">

            <a class=" "
            href="/dashboard/doctor"><i class="glyphicon glyphicon-user"></i> Doctor List</a>
          </li>
        
         
                  <li class="sub-menu">
             <a class=" " href="/dashboard/hospital"> <i class="fa fa-h-square"></i> Hospital List</a>
          </li>
                
                    <li class="sub-menu">
            <a class="" href="/dashboard/donor">
              <i class="glyphicon glyphicon-tint"></i>
              <span>Blood Donar</span>
              </a>
            <!-- <ul class="sub">
              <li><a href="grids.html">Donar List</a></li>
            </ul> -->
          </li>
          
          
                   <li class="sub-menu">
            <a href="javascript:;" class=" ">
              <i class="fa fa-youtube-play"></i>
              <span>Education</span>
              </a>
            <ul class="sub">
              <li><a href="/dashboard/education/create">Add Video</a></li>
              <li><a href="/dashboard/education">Video list</a></li>
            </ul>
          </li>

        
                </ul>
      </br>
      </br>
      </br>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->

    <section id="main-content">
      <section class="wrapper">
       
        <div class="row mt">
          <!--  DATE PICKERS -->
          <div class="col-lg-12">
            <div class="form-panel">

              <div class="row">
	              <div class="col-md-6"><h4>Update Ambulance</h4></div>
	              <div class="col-md-6">
	              	<a class="btn btn-success pull-right" href="/dashboard/ambulance"><i class="fa fa-list"></i> Ambulance List</a>
	              </div>
			  </div>
			   <hr>
              <div class="row">
    			<form method="post" action="/dashboard/ambulance/8" enctype="multipart/form-data">
	        	<input type="hidden" name="_token" value="wwaBiDwm0sgDdoaKEkcMU61HjEU8EoTjW8EJG41P">
				<input type="hidden" name="_method" value="PUT"> 

			    <div class="col-md-6">

				     <div class="form-group">
						  <label for="usr">Ambulance Number:</label>
						  <input type="text" class="form-control" id="usr" value="amb544" name="ambn" >
						  					</div>

	                <div class="form-group">
					  <label for="sel1">Ambulance Type:</label>
					  <select class="form-control" id="sel1" name="type">
					    <option value="Icu Ambulance" >Icu Ambulance</option>
					    <option value="Frezzing Ambulance" >Frezzing Ambulance</option>
					    <option value="Ac Ambulance" >Ac Ambulance</option>
					    <option value="Normal Ambulance" selected>Normal Ambulance</option>
					  </select>
					</div>
					<div class="form-group">
						<textarea name="details" class="form-control" placeholder="Enter ambulance details"></textarea>
					</div>
			    </div>
				<div class="col-md-6">
					 <div class="form-group">
						  <label for="user">Phone Number:</label>
						  <input type="number" class="form-control" id="usr" value="1521450823" name="phone">
						  					</div>
					
					<div class="form-group">
		              <label for="user">Select City:</label>
		              <select class="form-control select2" id="district" name="district" id="mySelect">
		               			                <option value="Barguna" >Barguna</option>
		               			                <option value="Barisal" >Barisal</option>
		               			                <option value="Bhola" >Bhola</option>
		               			                <option value="Jhalokati" >Jhalokati</option>
		               			                <option value="Patuakhali" >Patuakhali</option>
		               			                <option value="Pirojpur" >Pirojpur</option>
		               			                <option value="Bandarban" >Bandarban</option>
		               			                <option value="Brahmanbaria" >Brahmanbaria</option>
		               			                <option value="Chandpur" >Chandpur</option>
		               			                <option value="Chittagong" >Chittagong</option>
		               			                <option value="Comilla" selected>Comilla</option>
		               			                <option value="Cox&#039;s Bazar" >Cox&#039;s Bazar</option>
		               			                <option value="Feni" >Feni</option>
		               			                <option value="Khagrachhari" >Khagrachhari</option>
		               			                <option value="Lakshmipur" >Lakshmipur</option>
		               			                <option value="Noakhali" >Noakhali</option>
		               			                <option value="Rangamati" >Rangamati</option>
		               			                <option value="Dhaka" >Dhaka</option>
		               			                <option value="Faridpur" >Faridpur</option>
		               			                <option value="Gazipur" >Gazipur</option>
		               			                <option value="Gopalganj" >Gopalganj</option>
		               			                <option value="Kishoreganj" >Kishoreganj</option>
		               			                <option value="Madaripur" >Madaripur</option>
		               			                <option value="Manikganj" >Manikganj</option>
		               			                <option value="Munshiganj" >Munshiganj</option>
		               			                <option value="Narayanganj" >Narayanganj</option>
		               			                <option value="Narsingdi" >Narsingdi</option>
		               			                <option value="Rajbari" >Rajbari</option>
		               			                <option value="Shariatpur" >Shariatpur</option>
		               			                <option value="Tangail" >Tangail</option>
		               			                <option value="Bagerhat" >Bagerhat</option>
		               			                <option value="Chuadanga" >Chuadanga</option>
		               			                <option value="Jessore" >Jessore</option>
		               			                <option value="Jhenaidah" >Jhenaidah</option>
		               			                <option value="Khulna" >Khulna</option>
		               			                <option value="Kushtia" >Kushtia</option>
		               			                <option value="Magura" >Magura</option>
		               			                <option value="Meherpur" >Meherpur</option>
		               			                <option value="Narail" >Narail</option>
		               			                <option value="Satkhira" >Satkhira</option>
		               			                <option value="Jamalpur" >Jamalpur</option>
		               			                <option value="Mymensingh" >Mymensingh</option>
		               			                <option value="Netrakona" >Netrakona</option>
		               			                <option value="Sherpur" >Sherpur</option>
		               			                <option value="Bogra" >Bogra</option>
		               			                <option value="Chapainawabganj" >Chapainawabganj</option>
		               			                <option value="Joypurhat" >Joypurhat</option>
		               			                <option value="Naogaon" >Naogaon</option>
		               			                <option value="Natore" >Natore</option>
		               			                <option value="Pabna" >Pabna</option>
		               			                <option value="Rajshahi" >Rajshahi</option>
		               			                <option value="Sirajganj" >Sirajganj</option>
		               			                <option value="Dinajpur" >Dinajpur</option>
		               			                <option value="Gaibandha" >Gaibandha</option>
		               			                <option value="Kurigram" >Kurigram</option>
		               			                <option value="Lalmonirhat" >Lalmonirhat</option>
		               			                <option value="Nilphamari" >Nilphamari</option>
		               			                <option value="Panchagarh" >Panchagarh</option>
		               			                <option value="Rangpur" >Rangpur</option>
		               			                <option value="Thakurgaon" >Thakurgaon</option>
		               			                <option value="Habiganj" >Habiganj</option>
		               			                <option value="Moulvibazar" >Moulvibazar</option>
		               			                <option value="Sunamganj" >Sunamganj</option>
		               			                <option value="Sylhet" >Sylhet</option>
		               			               </select>
		              </div>

					 <div class="form-group">
						  <label for="user">Image:</label>
						  <img style="width: 120px;height: 100px;" src="/image/amb544-2019-04-225cbdc4accf492.png" alt="">
						  <input type="file"  id="usr"  name="image">
						  
						   					</div>
				</div>
				<hr>
				<div class="col-md-12">
					 <div class="form-group">
						  <button type="submit" class="btn btn-success">Update</button>
						  <button type="reset" class="btn btn-primary">Reset</button>
					</div>
				</div>
			 </form>
			</div>
		</div>
	</div>
</div>
      </section>
    </section>
    <!--main content end-->


{{>footer}}


  <script type="text/javascript">
  $(function () {
    //$('#example1').DataTable();
    $('#example1').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    });
  });
</script>

  <script type="application/javascript">
    $(document).ready(function() {
      $("#date-popover").popover({
        html: true,
        trigger: "manual"
      });
      $("#date-popover").hide();
      $("#date-popover").click(function(e) {
        $(this).hide();
      });

      $("#my-calendar").zabuto_calendar({
        action: function() {
          return myDateFunction(this.id, false);
        },
        action_nav: function() {
          return myNavFunction(this.id);
        },
        ajax: {
          url: "show_data.php?action=1",
          modal: true
        },
        legend: [{
            type: "text",
            label: "Special event",
            badge: "00"
          },
          {
            type: "block",
            label: "Regular event",
          }
        ]
      });
    });

    function myNavFunction(id) {
      $("#date-popover").hide();
      var nav = $("#" + id).data("navigation");
      var to = $("#" + id).data("to");
      console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
  </script>