{{>header}}
  <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse " style="">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="#"><img src="/admin/lib/image/user.png" class="img-circle" width="80"></a></p>
          <h5 class="centered"> Foysal</h5>
          <p class="text-center">ADMIN</p>
          <li>
            <a class=" " href="/dashboard">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
          </li>

                    <li class="sub-menu">

            <a href="javascript:;" class=" ">
              <i class="fa fa-ambulance"></i>
              <span>Mnage User/Role</span>
              </a>
            <ul class="sub">
              <li><a href="/dashboard/user">Manage Users</a></li>
              <li><a href="/dashboard/role">Roles</a></li>

            </ul>
          </li>
          
                    <li class="sub-menu">
            <a class="active " href="/dashboard/ambulance">
              <i class="glyphicon glyphicon-adjust"></i>
              <span>Ambulance List</span>
              </a>
          </li>
          
         
                  <li class="sub-menu">

            <a class=" "
            href="/dashboard/doctor"><i class="glyphicon glyphicon-user"></i> Doctor List</a>
          </li>
        
         
                  <li class="sub-menu">
             <a class=" " href="/dashboard/hospital"> <i class="fa fa-h-square"></i> Hospital List</a>
          </li>
                
                    <li class="sub-menu">
            <a class="" href="/dashboard/donor">
              <i class="glyphicon glyphicon-tint"></i>
              <span>Blood Donar</span>
              </a>
            <!-- <ul class="sub">
              <li><a href="grids.html">Donar List</a></li>
            </ul> -->
          </li>
          
          
                   <li class="sub-menu">
            <a href="javascript:;" class=" ">
              <i class="fa fa-youtube-play"></i>
              <span>Education</span>
              </a>
            <ul class="sub">
              <li><a href="/dashboard/education/create">Add Video</a></li>
              <li><a href="/dashboard/education">Video list</a></li>
            </ul>
          </li>

        
                </ul>
      </br>
      </br>
      </br>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->

    <section id="main-content">
      <section class="wrapper">
       
    <div class="row mt">
      <div class="col-md-12">
        <div class="content-panel" style="padding: 10px;">
          <div class="row" style="padding: 10px;" >
              <div class="col-md-6">
                  <h4>All Ambulance</h4>
              </div>
              <div class="col-md-6">
                <a href="/dashboard/ambulance/create" class="btn btn-sm btn-info pull-right"><i class="fa fa-plus"></i> Add Ambulance</a>
              </div>
          </div>
        
         <table  id="example1" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th><i class="fa fa-bullhorn"></i> Ambulance number</th>

                <th class="hidden-phone" ><i class="fa fa-question-circle"></i> Ambulance Type</th>
                <th class="hidden-phone" ><i class="fa fa-question-circle"></i> Location</th>

                <th><i class="fa fa-bookmark"></i> Phone</th>
                
                <th><i class="fa fa-image"></i> image</th>
                
                <th>Action</th>
              </tr>
            </thead>
            
            <tbody>
                          	              <tr>
                <td>
                  <a  href="#">DMC - 203</a>
                </td>
                <td >Ac Ambulance</td>
                <td >Dhaka</td>

                <td>1521450823 </td>
            
    				     <td class="hidden-phone"> <img  style="width: 65px; height: 65px;" src="/image/dmc-203-2019-04-225cbde80baf571.png" /></td>
    				  
                <td>
                  <button  class="btn btn-info btn-sm"><a style="color:white" href="/dashboard/ambulance/16/edit"> <i class="fa fa-edit "></i> </button>

                    <form id="delete-form-16" action="/dashboard/ambulance/16" style="display: none;" method="POST">
                        <input type="hidden" name="_token" value="wwaBiDwm0sgDdoaKEkcMU61HjEU8EoTjW8EJG41P">
                        <input type="hidden" name="_method" value="DELETE">
                    </form>
                    <button type="button" class="btn btn-danger btn-sm" title="Delete" onclick="if(confirm('Are you sure? You want to delete this?')){
                        event.preventDefault();
                        document.getElementById('delete-form-16').submit();
                    }else {
                        event.preventDefault();
                            }"><i class="fa fa-trash-o"></i>
                    </button>

                </td>
              </tr>
                           <tr>
                <td>
                  <a  href="#">UN-Am-201</a>
                </td>
                <td >Frezzing Ambulance</td>
                <td >Comilla</td>

                <td>1521450823 </td>
            
    				     <td class="hidden-phone"> <img  style="width: 65px; height: 65px;" src="/image/un-am-201-2019-04-225cbd3ed086b5f.png" /></td>
    				  
                <td>
                  <button  class="btn btn-info btn-sm"><a style="color:white" href="/dashboard/ambulance/15/edit"> <i class="fa fa-edit "></i> </button>

                    <form id="delete-form-15" action="/dashboard/ambulance/15" style="display: none;" method="POST">
                        <input type="hidden" name="_token" value="wwaBiDwm0sgDdoaKEkcMU61HjEU8EoTjW8EJG41P">
                        <input type="hidden" name="_method" value="DELETE">
                    </form>
                    <button type="button" class="btn btn-danger btn-sm" title="Delete" onclick="if(confirm('Are you sure? You want to delete this?')){
                        event.preventDefault();
                        document.getElementById('delete-form-15').submit();
                    }else {
                        event.preventDefault();
                            }"><i class="fa fa-trash-o"></i>
                    </button>

                </td>
              </tr>
                           <tr>
                <td>
                  <a  href="#">Ananda 101</a>
                </td>
                <td >Icu Ambulance</td>
                <td >Dhaka</td>

                <td>1521450823 </td>
            
    				     <td class="hidden-phone"> <img  style="width: 65px; height: 65px;" src="/image/ananda-101-2019-04-195cba5d58bb81d.png" /></td>
    				  
                <td>
                  <button  class="btn btn-info btn-sm"><a style="color:white" href="/dashboard/ambulance/14/edit"> <i class="fa fa-edit "></i> </button>

                    <form id="delete-form-14" action="/dashboard/ambulance/14" style="display: none;" method="POST">
                        <input type="hidden" name="_token" value="wwaBiDwm0sgDdoaKEkcMU61HjEU8EoTjW8EJG41P">
                        <input type="hidden" name="_method" value="DELETE">
                    </form>
                    <button type="button" class="btn btn-danger btn-sm" title="Delete" onclick="if(confirm('Are you sure? You want to delete this?')){
                        event.preventDefault();
                        document.getElementById('delete-form-14').submit();
                    }else {
                        event.preventDefault();
                            }"><i class="fa fa-trash-o"></i>
                    </button>

                </td>
              </tr>
                           <tr>
                <td>
                  <a  href="#">DMC-100</a>
                </td>
                <td >Icu Ambulance</td>
                <td >Dhaka</td>

                <td>1521450823 </td>
            
    				     <td class="hidden-phone"> <img  style="width: 65px; height: 65px;" src="/image/dmc-100-2019-04-195cba1a1523d3c.png" /></td>
    				  
                <td>
                  <button  class="btn btn-info btn-sm"><a style="color:white" href="/dashboard/ambulance/13/edit"> <i class="fa fa-edit "></i> </button>

                    <form id="delete-form-13" action="/dashboard/ambulance/13" style="display: none;" method="POST">
                        <input type="hidden" name="_token" value="wwaBiDwm0sgDdoaKEkcMU61HjEU8EoTjW8EJG41P">
                        <input type="hidden" name="_method" value="DELETE">
                    </form>
                    <button type="button" class="btn btn-danger btn-sm" title="Delete" onclick="if(confirm('Are you sure? You want to delete this?')){
                        event.preventDefault();
                        document.getElementById('delete-form-13').submit();
                    }else {
                        event.preventDefault();
                            }"><i class="fa fa-trash-o"></i>
                    </button>

                </td>
              </tr>
                           <tr>
                <td>
                  <a  href="#">UN-AMB-101</a>
                </td>
                <td >Icu Ambulance</td>
                <td >Dhaka</td>

                <td>1521450823 </td>
            
    				     <td class="hidden-phone"> <img  style="width: 65px; height: 65px;" src="/image/un-amb-101-2019-04-195cb9f5e537407.png" /></td>
    				  
                <td>
                  <button  class="btn btn-info btn-sm"><a style="color:white" href="/dashboard/ambulance/12/edit"> <i class="fa fa-edit "></i> </button>

                    <form id="delete-form-12" action="/dashboard/ambulance/12" style="display: none;" method="POST">
                        <input type="hidden" name="_token" value="wwaBiDwm0sgDdoaKEkcMU61HjEU8EoTjW8EJG41P">
                        <input type="hidden" name="_method" value="DELETE">
                    </form>
                    <button type="button" class="btn btn-danger btn-sm" title="Delete" onclick="if(confirm('Are you sure? You want to delete this?')){
                        event.preventDefault();
                        document.getElementById('delete-form-12').submit();
                    }else {
                        event.preventDefault();
                            }"><i class="fa fa-trash-o"></i>
                    </button>

                </td>
              </tr>
                           <tr>
                <td>
                  <a  href="#">amb564</a>
                </td>
                <td >Icu Ambulance</td>
                <td >Dhaka</td>

                <td>1521450823 </td>
            
    				     <td class="hidden-phone"> <img  style="width: 65px; height: 65px;" src="/image/amb564-2019-04-225cbdc4a245b61.png" /></td>
    				  
                <td>
                  <button  class="btn btn-info btn-sm"><a style="color:white" href="/dashboard/ambulance/9/edit"> <i class="fa fa-edit "></i> </button>

                    <form id="delete-form-9" action="/dashboard/ambulance/9" style="display: none;" method="POST">
                        <input type="hidden" name="_token" value="wwaBiDwm0sgDdoaKEkcMU61HjEU8EoTjW8EJG41P">
                        <input type="hidden" name="_method" value="DELETE">
                    </form>
                    <button type="button" class="btn btn-danger btn-sm" title="Delete" onclick="if(confirm('Are you sure? You want to delete this?')){
                        event.preventDefault();
                        document.getElementById('delete-form-9').submit();
                    }else {
                        event.preventDefault();
                            }"><i class="fa fa-trash-o"></i>
                    </button>

                </td>
              </tr>
                           <tr>
                <td>
                  <a  href="#">amb544</a>
                </td>
                <td >Normal Ambulance</td>
                <td >Comilla</td>

                <td>1521450823 </td>
            
    				     <td class="hidden-phone"> <img  style="width: 65px; height: 65px;" src="/image/amb544-2019-04-225cbdc4accf492.png" /></td>
    				  
                <td>
                  <button  class="btn btn-info btn-sm"><a style="color:white" href="/dashboard/ambulance/8/edit"> <i class="fa fa-edit "></i> </button>

                    <form id="delete-form-8" action="/dashboard/ambulance/8" style="display: none;" method="POST">
                        <input type="hidden" name="_token" value="wwaBiDwm0sgDdoaKEkcMU61HjEU8EoTjW8EJG41P">
                        <input type="hidden" name="_method" value="DELETE">
                    </form>
                    <button type="button" class="btn btn-danger btn-sm" title="Delete" onclick="if(confirm('Are you sure? You want to delete this?')){
                        event.preventDefault();
                        document.getElementById('delete-form-8').submit();
                    }else {
                        event.preventDefault();
                            }"><i class="fa fa-trash-o"></i>
                    </button>

                </td>
              </tr>
                                      </tbody>
          </table>
        </div>
        <!-- /content-panel -->
      </div>
      <!-- /col-md-12 -->
    </div>
      </section>
    </section>
    <!--main content end-->

{{>footer}}


  <script type="text/javascript">
  $(function () {
    //$('#example1').DataTable();
    $('#example1').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    });
  });
</script>

  <script type="application/javascript">
    $(document).ready(function() {
      $("#date-popover").popover({
        html: true,
        trigger: "manual"
      });
      $("#date-popover").hide();
      $("#date-popover").click(function(e) {
        $(this).hide();
      });

      $("#my-calendar").zabuto_calendar({
        action: function() {
          return myDateFunction(this.id, false);
        },
        action_nav: function() {
          return myNavFunction(this.id);
        },
        ajax: {
          url: "show_data.php?action=1",
          modal: true
        },
        legend: [{
            type: "text",
            label: "Special event",
            badge: "00"
          },
          {
            type: "block",
            label: "Regular event",
          }
        ]
      });
    });

    function myNavFunction(id) {
      $("#date-popover").hide();
      var nav = $("#" + id).data("navigation");
      var to = $("#" + id).data("to");
      console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
  </script>