{{>header}}
      <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse " style="">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="#"><img src="/image/user.png" class="img-circle" width="80"></a></p>
          <h5 class="centered"> Foysal</h5>
          <p class="text-center">ADMIN</p>
          <li>
            <a class=" " href="/dashboard">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
          </li>

                    <li class="sub-menu">

            <a href="javascript:;" class=" ">
              <i class="fa fa-ambulance"></i>
              <span>Mnage User/Role</span>
              </a>
            <ul class="sub">
              <li><a href="/dashboard/user">Manage Users</a></li>
              <li><a href="/dashboard/role">Roles</a></li>

            </ul>
          </li>
          
                    <li class="sub-menu">
            <a class=" " href="/dashboard/ambulance">
              <i class="glyphicon glyphicon-adjust"></i>
              <span>Ambulance List</span>
              </a>
          </li>
          
         
                  <li class="sub-menu">

            <a class="active "
            href="/dashboard/doctor"><i class="glyphicon glyphicon-user"></i> Doctor List</a>
          </li>
        
         
                  <li class="sub-menu">
             <a class=" " href="/dashboard/hospital"> <i class="fa fa-h-square"></i> Hospital List</a>
          </li>
                
                    <li class="sub-menu">
            <a class="" href="/dashboard/donor">
              <i class="glyphicon glyphicon-tint"></i>
              <span>Blood Donar</span>
              </a>
            <!-- <ul class="sub">
              <li><a href="grids.html">Donar List</a></li>
            </ul> -->
          </li>
          
          
                   <li class="sub-menu">
            <a href="javascript:;" class=" ">
              <i class="fa fa-youtube-play"></i>
              <span>Education</span>
              </a>
            <ul class="sub">
              <li><a href="/dashboard/education/create">Add Video</a></li>
              <li><a href="/dashboard/education">Video list</a></li>
            </ul>
          </li>

        
                </ul>
      </br>
      </br>
      </br>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse " style="">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="#"><img src="http://doctorbari.foysal.xyz/image/user.png" class="img-circle" width="80"></a></p>
          <h5 class="centered"> Foysal</h5>
          <p class="text-center">ADMIN</p>
          <li>
            <a class=" " href="http://doctorbari.foysal.xyz/dashboard">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
          </li>

                    <li class="sub-menu">

            <a href="javascript:;" class=" ">
              <i class="fa fa-ambulance"></i>
              <span>Mnage User/Role</span>
              </a>
            <ul class="sub">
              <li><a href="http://doctorbari.foysal.xyz/dashboard/user">Manage Users</a></li>
              <li><a href="http://doctorbari.foysal.xyz/dashboard/role">Roles</a></li>

            </ul>
          </li>
          
                    <li class="sub-menu">
            <a class=" " href="http://doctorbari.foysal.xyz/dashboard/ambulance">
              <i class="glyphicon glyphicon-adjust"></i>
              <span>Ambulance List</span>
              </a>
          </li>
          
         
                  <li class="sub-menu">

            <a class="active "
            href="http://doctorbari.foysal.xyz/dashboard/doctor"><i class="glyphicon glyphicon-user"></i> Doctor List</a>
          </li>
        
         
                  <li class="sub-menu">
             <a class=" " href="http://doctorbari.foysal.xyz/dashboard/hospital"> <i class="fa fa-h-square"></i> Hospital List</a>
          </li>
                
                    <li class="sub-menu">
            <a class="" href="http://doctorbari.foysal.xyz/dashboard/donor">
              <i class="glyphicon glyphicon-tint"></i>
              <span>Blood Donar</span>
              </a>
            <!-- <ul class="sub">
              <li><a href="grids.html">Donar List</a></li>
            </ul> -->
          </li>
          
          
                   <li class="sub-menu">
            <a href="javascript:;" class=" ">
              <i class="fa fa-youtube-play"></i>
              <span>Education</span>
              </a>
            <ul class="sub">
              <li><a href="http://doctorbari.foysal.xyz/dashboard/education/create">Add Video</a></li>
              <li><a href="http://doctorbari.foysal.xyz/dashboard/education">Video list</a></li>
            </ul>
          </li>

        
                </ul>
      </br>
      </br>
      </br>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->

    <section id="main-content">
      <section class="wrapper">
       
        <div class="row mt">
          <!--  DATE PICKERS -->
          <div class="col-lg-12">
            <div class="form-panel">

              <div class="row">
	              <div class="col-md-6"><h4>Update Doctor Profile</h4></div>
	              <div class="col-md-6">
	              	<a class="btn btn-success pull-right" href="http://doctorbari.foysal.xyz/dashboard/doctor"><i class="fa fa-list"></i> Doctor List</a>
	              </div>
			  </div>
			   <hr>
              <div class="row">
    
	 	 		<form method="post" action="http://doctorbari.foysal.xyz/dashboard/doctor/1" enctype="multipart/form-data">
	        	<input type="hidden" name="_token" value="wwaBiDwm0sgDdoaKEkcMU61HjEU8EoTjW8EJG41P">
				<input type="hidden" name="_method" value="PUT">
				
			    <div class="col-md-6">
					<input type="hidden" name="user_id" value="3">
				     <div class="form-group">
						  <label for="usr">Name:</label>
						  <input type="text" class="form-control" id="usr" value="Dr. Shohan Ahmed" name="name">
						  					</div>
	                <div class="form-group">
					  <label for="sel1">E-mail:</label>
					  <input type="text" class="form-control" id="sel1" value="doctor@gmail.com" name="email">
						  					</div>
					<div class="form-group">
					  <label for="pass">Password</label>
					  <input type="text" class="form-control" id="pass" value="1234" name="password">
						  					</div>
					<div class="form-group">
					  <label for="longitude">Longitude</label>
					  <input type="text" class="form-control" id="longitude" value="90.38327633343238" name="longitude">
						  					</div>
					<div class="form-group">
					  <label for="latitude">Latitude</label>
					  <input type="text" class="form-control" id="latitude" value="23.741727135778106" name="latitude">
						  					</div>
					<div class="chamber-lacation">
		               <label for="user">Doctor Location:</label>
		                <input style="min-width:150 px; min-height: 50px;" id="pac-input" class="controls" type="text" placeholder="Search Box">
			           <div class="map" id="map">
			            
			           </div>
		        	</div>
		        	<!-- END GOOGLE MAP -->
			    </div>
				<div class="col-md-6">
					
					<div class="form-group">
		              <label for="user">Select City:</label>
		              <select class="form-control select2" id="district" name="district" id="mySelect">
		               			                <option value="Barguna" >Barguna</option>
		               			                <option value="Barisal" >Barisal</option>
		               			                <option value="Bhola" >Bhola</option>
		               			                <option value="Jhalokati" >Jhalokati</option>
		               			                <option value="Patuakhali" >Patuakhali</option>
		               			                <option value="Pirojpur" >Pirojpur</option>
		               			                <option value="Bandarban" >Bandarban</option>
		               			                <option value="Brahmanbaria" >Brahmanbaria</option>
		               			                <option value="Chandpur" >Chandpur</option>
		               			                <option value="Chittagong" >Chittagong</option>
		               			                <option value="Comilla" >Comilla</option>
		               			                <option value="Cox&#039;s Bazar" >Cox&#039;s Bazar</option>
		               			                <option value="Feni" >Feni</option>
		               			                <option value="Khagrachhari" >Khagrachhari</option>
		               			                <option value="Lakshmipur" >Lakshmipur</option>
		               			                <option value="Noakhali" >Noakhali</option>
		               			                <option value="Rangamati" >Rangamati</option>
		               			                <option value="Dhaka" selected>Dhaka</option>
		               			                <option value="Faridpur" >Faridpur</option>
		               			                <option value="Gazipur" >Gazipur</option>
		               			                <option value="Gopalganj" >Gopalganj</option>
		               			                <option value="Kishoreganj" >Kishoreganj</option>
		               			                <option value="Madaripur" >Madaripur</option>
		               			                <option value="Manikganj" >Manikganj</option>
		               			                <option value="Munshiganj" >Munshiganj</option>
		               			                <option value="Narayanganj" >Narayanganj</option>
		               			                <option value="Narsingdi" >Narsingdi</option>
		               			                <option value="Rajbari" >Rajbari</option>
		               			                <option value="Shariatpur" >Shariatpur</option>
		               			                <option value="Tangail" >Tangail</option>
		               			                <option value="Bagerhat" >Bagerhat</option>
		               			                <option value="Chuadanga" >Chuadanga</option>
		               			                <option value="Jessore" >Jessore</option>
		               			                <option value="Jhenaidah" >Jhenaidah</option>
		               			                <option value="Khulna" >Khulna</option>
		               			                <option value="Kushtia" >Kushtia</option>
		               			                <option value="Magura" >Magura</option>
		               			                <option value="Meherpur" >Meherpur</option>
		               			                <option value="Narail" >Narail</option>
		               			                <option value="Satkhira" >Satkhira</option>
		               			                <option value="Jamalpur" >Jamalpur</option>
		               			                <option value="Mymensingh" >Mymensingh</option>
		               			                <option value="Netrakona" >Netrakona</option>
		               			                <option value="Sherpur" >Sherpur</option>
		               			                <option value="Bogra" >Bogra</option>
		               			                <option value="Chapainawabganj" >Chapainawabganj</option>
		               			                <option value="Joypurhat" >Joypurhat</option>
		               			                <option value="Naogaon" >Naogaon</option>
		               			                <option value="Natore" >Natore</option>
		               			                <option value="Pabna" >Pabna</option>
		               			                <option value="Rajshahi" >Rajshahi</option>
		               			                <option value="Sirajganj" >Sirajganj</option>
		               			                <option value="Dinajpur" >Dinajpur</option>
		               			                <option value="Gaibandha" >Gaibandha</option>
		               			                <option value="Kurigram" >Kurigram</option>
		               			                <option value="Lalmonirhat" >Lalmonirhat</option>
		               			                <option value="Nilphamari" >Nilphamari</option>
		               			                <option value="Panchagarh" >Panchagarh</option>
		               			                <option value="Rangpur" >Rangpur</option>
		               			                <option value="Thakurgaon" >Thakurgaon</option>
		               			                <option value="Habiganj" >Habiganj</option>
		               			                <option value="Moulvibazar" >Moulvibazar</option>
		               			                <option value="Sunamganj" >Sunamganj</option>
		               			                <option value="Sylhet" >Sylhet</option>
		               			               </select>
		              </div>

					 <div class="form-group">
					  <label for="designation">Designation</label>
					  <input type="text" class="form-control" id="designation" value="nuerologist" name="designation">
						  					</div>
				<div class="form-group">
				  <label for="sel1">Specialties:</label>
					<select class="form-control" id="sel1" name="specialty_id">
											    <option value="1" >Anesthesia</option>
											    <option value="2" >Cardiology (Heart, Cardiac Surgery, Cardiovascular, Hypertension, Blood Pressure)</option>
											    <option value="3" >Colorectal Surgery (Surgery of Anal Canal, Rectum, etc.)</option>
											    <option value="4" >Dentistry (Dental, Orthodontics, Maxillofacial Surgery, Scaling)</option>
											    <option value="5" >Dermatology (Skin, Venereology, Sexual, Hair, Allergy)</option>
											    <option value="6" >Endocrinology (Diabetes, Hormones, Thyroid, etc.)</option>
											    <option value="7" selected>ENT (Ear, Nose &amp; Throat, Otorhinolaryngology)</option>
											    <option value="8" >Gastroenterology (Stomach, Pancreas and Intestine)</option>
											    <option value="9" >General Physician (All or any common diseases and health issues)</option>
											    <option value="10" >General Surgery (Incision, Operation)</option>
											    <option value="11" >Gynaecologic Oncology (Cancer of Female Reproductive System)</option>
											    <option value="12" >Gynaecology and Obstetrics (Pregnancy, Menstrual, Uterus, Female)</option>
											    <option value="13" >Haematology (Blood related diseases)</option>
											    <option value="14" >Hepato-Biliary- Pancreatic Surgery</option>
											    <option value="15" >Hepatology (Liver, Gallbladder, Biliary system)</option>
											    <option value="16" >Infectious Diseases</option>
											    <option value="17" >Infertility</option>
											    <option value="18" >Medicine (All Diseases of Adults)</option>
											    <option value="19" >Neonatology (New Born Issues)</option>
											    <option value="20" >Nephrology (Kidney, Ureter, Urinary Bladder)</option>
											    <option value="21" >Neuromedicine (Brain, Spinal Cord, Nerve)</option>
											    <option value="22" >Neurosurgery (Surgery of Brain, Spinal Cord and Nerve)</option>
											    <option value="23" >Nutritionist (Food, Diet, Weight Management)</option>
											    <option value="24" >Oncology (Cancer)</option>
											    <option value="25" >Ophthalmology (Eye, Vision, Cataracts, etc.)</option>
											    <option value="26" >Orthopaedics (Bone, Joint, Fractures)</option>
											    <option value="27" >Other Speciality (not mentioned in the list)</option>
											    <option value="28" >Paediatric Surgery (Surgery for Children)</option>
											    <option value="29" >Paediatrics (Child or Infant any disease)</option>
											    <option value="30" >Pain Management</option>
											    <option value="31" >Physical Medicine (Paralysis, Pain Management)</option>
											    <option value="32" >Physiotherapy</option>
											    <option value="33" >Plastic Surgery, Reconstruction or Cosmetic Surgery</option>
											    <option value="34" >Psychiatry (Mental Health, Drug Abuse, Depression, etc.)</option>
											    <option value="35" >Respiratory Medicine (Pulmonary, Lung Diseases, Bronchitis etc.)</option>
											    <option value="36" >Rheumatology (Arthritis, Joint, Soft Tissue problems)</option>
											    <option value="37" >Sex Specialist(Venereology)</option>
											    <option value="38" >Speech and Language Therapy</option>
											    <option value="39" >Thoracic Surgery (Surgery in Chest, Lung, etc.)</option>
											    <option value="40" >Urology (Surgery for Kidney, Ureter or Urinary Bladder)</option>
											    <option value="41" >Vascular Surgery (e.g. Surgery of Blood Vessels)</option>
											</select>
				</div>
				<div class="form-group">
					  <label for="degree">Phone Number</label>
					  <input type="text" class="form-control" id="degree" value="" name="phone">
						  					</div>
					<div class="form-group">
					  <label for="degree">Degree</label>
					  <input type="text" class="form-control" id="degree" value="MBBS" name="degree">
						  					</div>
					<div class="form-group">
					  <label for="degree">Service fee</label>
					  <input type="text" class="form-control" id="degree" value="" name="service_fees">
						  					</div>
					<div class="form-group">
					  <label for="chambers">Chambers name & Location</label>
					  <textarea name="chambers" class="form-control" placeholder="Chambers Details"> Lab aid</textarea>
						  					</div>
				</div>
				<hr>
				<div class="col-md-12 mt">
					 <div class="form-group">
						  <button type="submit" class="btn btn-success">Update Profile</button>
					</div>
				</div>
			 </form>
			</div>
		</div>
	</div>
</div>
      </section>
    </section>
    <!--main content end-->

{{>footer}}


  <script type="text/javascript">
  $(function () {
    //$('#example1').DataTable();
    $('#example1').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    });
  });
</script>

  <script type="application/javascript">
    $(document).ready(function() {
      $("#date-popover").popover({
        html: true,
        trigger: "manual"
      });
      $("#date-popover").hide();
      $("#date-popover").click(function(e) {
        $(this).hide();
      });

      $("#my-calendar").zabuto_calendar({
        action: function() {
          return myDateFunction(this.id, false);
        },
        action_nav: function() {
          return myNavFunction(this.id);
        },
        ajax: {
          url: "show_data.php?action=1",
          modal: true
        },
        legend: [{
            type: "text",
            label: "Special event",
            badge: "00"
          },
          {
            type: "block",
            label: "Regular event",
          }
        ]
      });
    });

    function myNavFunction(id) {
      $("#date-popover").hide();
      var nav = $("#" + id).data("navigation");
      var to = $("#" + id).data("to");
      console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
  </script>