 <!DOCTYPE html>
<html lang="en">


<!-- Mirrored from doctorbari.foysal.xyz/dashboard/login by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2023 06:17:05 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>DoctorBari Dashboard | Login</title>

  <!-- Favicons -->
  <link href="../admin/img/favicon.png"  rel="icon">
  <link href="../admin/img/apple-touch-icon.png"  rel="apple-touch-icon">


  <!-- Bootstrap core CSS -->
  <link href= "../admin/lib/bootstrap/css/bootstrap.min.css"  rel="stylesheet">
  <!--external css-->
  <link href="../admin/lib/font-awesome/css/font-awesome.css"  rel="stylesheet" />
  <!-- Custom styles for this template -->

  <link href="../admin/css/style.css" rel="stylesheet">
  <link href="../admin/css/style-responsive.css" rel="stylesheet">

  <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>
  <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
  <div id="login-page">
    <div class="container">

      <form class="form-login"" role="form" method="POST" action="http://doctorbari.foysal.xyz/dashboard/login">
           <input type="hidden" name="_token" value="e8NdWSkpmj25fAzspvTVwPO6cVDx5d8rGNpgPm3m">
      <h2 class="form-login-heading">Doctor Bari Admin</h2>
      <h4 class="form-login-heading text-center"> Email: admin@gmail.com</h4>
      <h4 class="form-login-heading text-center"> Password: 123456</h4>
        <div class="login-wrap">

           <h5 class="text-center" style="color:red">
         </h5>


           <div class="form-group has-feedback">
            <input id="email" type="email" class="form-control" name="email" value="admin@gmail.com"  placeholder="Enter E-mail" autofocus>

          </div>

           <div class="form-group has-feedback">
                <input id="password" type="password" class="form-control" value="123456" name="password" placeholder="Enter Password" >
           </div>
           <!--  <div class="form-group">
                <div class="col-md-6 col-md-offset-4">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="remember"> Remember Me
                        </label>
                    </div>
                </div>
            </div> -->
             <button class="btn btn-theme btn-block" href="index.html" type="submit"><i class="fa fa-lock"></i> SIGN IN</button>
        </form>
    </div>
  </div>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="lib/jquery/jquery.min.html"></script>
  <script src="lib/bootstrap/js/bootstrap.min.html"></script>
  <!--BACKSTRETCH-->
  <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
  <script type="text/javascript" src="lib/jquery.backstretch.min.html"></script>
  <script>
    $.backstretch("img/login-bg.html", {
      speed: 500
    });
  </script>
</body>


<!-- Mirrored from doctorbari.foysal.xyz/dashboard/login by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2023 06:17:12 GMT -->
</html>
